
*.pyc
ampache-*_all*.zip
ampache/
ampache-*/
ampacheapi-php/
docker/ampache-docker/
docker/ampache-docker-nosql/
docker/ampache-docker-develop/
docker/log/*
docker/media/*
docker/music/*
python/python3-ampache6/
python/python3-ampache5/
python/python3-ampache4/
python/python3-ampache3/
php82_squashed/
php82/
php81_squashed/
php81/
php80_squashed/
php80/
php74_squashed/
php74/
releases/*
www/ampache.org-api/
www/ampache.github.io/
