
ampache-*_all*.zip
ampache-*/
docker/ampache-docker/
docker/ampache-docker-nosql/
docker/ampache-docker-develop/
docker/log/*
docker/media/*
music/*
python/python3-ampache5/
python/python3-ampache4/
python/python3-ampache3/
php81_squashed/
php81/
php80_squashed/
php80/
php74_squashed/
php74/
www/ampache.org-api/
www/ampache.github.io/
*.pyc
